@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
    font-family: 'Inter', sans-serif;
}

:root{
    --background-primary:#1C2128;
    --background-secondary:#22272E;
    --background-text:#ADBAC7;
    --bakcground-buttons:#3D444D;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: var(--background-primary);
    color: var(--background-text);
}
input{
    border: none;
    border-radius:3px;
    padding: 0.5rem 1rem;
    background: var(--background-primary);
    color: var(--background-text);
   
}
input:active{
    border: none;
}
button{
    color:var(--background-text) ;
    background-color: var(--bakcground-buttons);
    border: none;
    border-radius:3px;
    padding: .5rem 1rem;
    margin: 2rem;
    cursor: pointer;
    transition: all .6s;
}
input::placeholder{
    opacity: .6;
}
.container{
    background-color: var(--background-secondary);
    padding: 5rem;
    border-radius: 8px;
    transition: all .6s;
}
h1{
    margin-top: 0;
}
h2{
    margin: 0;
}

.clearBtn{
    margin-left: 0;
}

.todoList{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 1rem 0;
    align-items: center;
    padding: .5rem;
    flex-wrap: wrap;
    border-bottom:1px solid #3D444D; ;

}
.deleteTask{
    text-align: center;
    border-radius: 3px;
    background: inherit;
    color: inherit;
    outline: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.pText{
    color: var(--background-text);
    border-width: 1px 50px;
    padding-bottom: .5rem;
}
.dateP{
    opacity: .7;
}
footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 30px;
    margin: .8rem;
}
a{
    color: var(--background-text);
    text-decoration:none;
}
button:hover{
background: #4d5560;
transform: scale(1.1);
}
.container:hover{
    transform: scale(1.1);
}